*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
}
/* Style NavBar */

nav{
    position: fixed;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
    border-bottom: 2px solid rgb(65, 105, 165);
    height: 60px;
    transition: height 0.5s;
}
nav .logo{
    height: 50px;
    margin-left: 30px;
    margin-top: 5px;
    border-radius: 5px;
}
nav .logo:hover{
    background-color: rgb(200, 200, 200);
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 50%;
    min-width: 500px;
    height: 50px;
    margin: 5px;
}

nav ul a{
    height: 70%;
    width: 100%;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: large;
    color: rgb(100, 100, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
nav ul a:hover{ 
    background-color: rgb(200, 200, 200);
    color: rgb(65, 105, 165);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}
/* toggleMenu */
.burger-toggle{
    display: none;
    width: 30px;
}
.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .line {
    width: 100%;
    height: 3px;
    background-color: rgb(20, 40, 70);
    transition: all 0.5s;
  }
/* END of Style NavBar */

/* Style Section 1 (Background) */

.section1{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    transition: background-image 1s ease-out;
    font-size: 150%;
}
.logoCenter{
    height: 200px;
    margin-top: 60px;
}
.section1-container{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content:space-between; 
    margin-top: 50px;
   
}

.section1 .paragraphe form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.paragraphe form input{
    height: 30px;
    width: 250px;
    border-radius: 5px;
    opacity: 0.8;
    border: none;
    padding-left: 10px;
}
::placeholder{
    color: rgb(215, 0, 90);
}
.paragraphe form button{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    opacity: 0.8;
    border: none;
    background-color: rgb(215, 0, 90);
    color: white;
}
.paragraphe form button:hover{
   color: rgb(215, 0, 90);
    cursor: pointer;
    background-color: white;
}

.cadres{
    display: flex;
    margin: 10px auto;
    align-items: center;
    width:240px ;
}
.cadre0{
    width: 80px;
    height: 40px;
    border-radius: 3px;
    background-size: cover;
}
.cadre-1, .cadre1{
    width: 50px;
    height: 30px;
    opacity: 0.8;
    background-size: cover;
}
.cadre-2, .cadre2{
    width: 30px;
    height: 20px;
    opacity: 0.5;
    background-size: cover;
}
.cadre-1, .cadre-2{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.cadre1, .cadre2{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

/* Style Bouttons Droite et Gauche du Background */

.btn-left, .btn-right{
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
}
.btn-left{
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-top-right-radius: 100%;
    margin-left: 5%;
}
.btn-right{
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom-left-radius: 100%;
    margin-right: 5%;
}
.btn-left:hover, .btn-right:hover{
    border-color: rgb(20, 40, 70);
    cursor: pointer;
    transition: border-color 0.5s;
}

/* END of Style Bouttons Droite et Gauche du Background */
/* END of Style section 1 (Background) */

/* Style section 2 (service) */

.serviceTitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color: rgb(40, 80, 150);
}
.services{
    display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 60%;
        background-color: white;
        margin: 20px auto;
        border-radius: 7px;
}
.service{
    width: 40%;
        margin: 30px 10px;
        text-align: center;
}
.service img{
    width: 40px;
}
.service h3{
    margin-bottom: 20px;
    color: rgb(20, 40, 70);
}
.service p{
    line-height: 20px;
    font-size: small;
}
/* END of Style section 2 (service) */
/* Style section 3 (backround fixed 1 and 2) */
.backgroundFixed1, .backgroundFixed2{
    height: 300px;
    width: 100%;
    /* background-image: script.js ligne 10 */
    background-color: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* End of Style section 3 (backround fixed 1 and 2) */



/* Style section 4 (staff) */

.staff-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(40, 80, 150);;
    text-align: center;
    margin-top: 30px;
}
.section4{
   display: flex;
   flex-direction: row;
   gap: 40px;
   align-items: center;
   justify-content: center;
   width: 80%;
   margin: auto;
   margin-bottom: 30px;
   margin-top: 30px;
}
.staff-left, .staff-right{
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
 }
.section4 div img{
    border-radius: 50%;
}
.section4 div p{
    border-radius: 10px;
    background-color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 20px;
   height: 70px;
   width: 120px;
   text-align: center;
   padding: 30px;
}
.section4 .ligne{
width: 2px;
height: 600px;
background-color: rgb(120, 120, 120);
}


/* END of Style section 4 (Our staff) */

/* Style footer */

footer{
    margin-top: auto;
    text-align: center;
    opacity: 0.8;
}
.footerPart1{
    height: 200px;
    padding: 50px;
    background-color: rgb(65, 105, 165);
    color: white;
}
 .footerPart1 p{
    margin: 50px auto;
}
footer input{
    width: 180px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    opacity: 0.8;
}
footer button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(215, 0, 90);
    color: white;
    opacity: 0.9;
}

footer button:hover{
color: rgb(215, 0, 90);
cursor: pointer;
background-color: white;
}
footer .footerPart2{
    height: 200px;
}
.footerPart2 img{
    width: 20px;
    margin: 50px 15px;
    opacity: 0.8;
}
footer span{
    font-size: small;
    opacity: 0.8;
}

/* END of Style footer */


@media (max-width: 992px){
    /* navbar */
    nav ul a{
        font-size:medium;
    }
    nav ul img{
        display: none;
    } 
    /* section 1 */
    .logoCenter{
        display: none;
    }
    .section1-container{
        margin: auto;
        align-items: end;
    }
    .btn-left, .btn-right{
        width: 30px;
        height: 30px;
    }
    /* section 2 */
    .services{
        flex-direction: column;
            width: 90%;
    }
    .service{
        width: 80%;
        border-bottom: 2px solid rgb(240, 240, 240);
        padding-bottom: 30px;
    }
    /* section 4 */
    .section4 div img{
        width: 100px;
        height: 100px;
    }
    .section4 div p{
        border-radius: 5px;
       font-size: 18px;
       height: 62px;
       width: 70px;
       padding-top: 20px;
    }
    .ligne{
    height: 500px;
    }
}

@media (max-width: 767px){
    /* navbar */
    nav ul{
        display: none;
    }
    nav ul a{
        height: 0;
        transition: height 0.5s;
    }
    .burger-toggle{
        display: block;
        position: absolute;
        top: 15px;
        right: 50px;
    }
    .burger-toggle.burger-toggle.active{
        width: 30px;
    }
  
    .burger-toggle.active .line:nth-child(1) {
      transform: translateY(8px) rotate(-45deg);
      background-color: rgb(220, 220, 100);
      transition: all 0.5s;
      }
      
      .burger-toggle.active .line:nth-child(2) {
        opacity: 0;
        transition: opacity 0.5s;
      }
      
      .burger-toggle.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
        background-color: rgb(220, 220, 100);
        transition: all 0.5s;
      }
      nav.active{
        height: 110px;
        gap: 10%;
        align-items: start;
        
      }
      nav.active div.burger-toggle{
        display: flex;
        width: 10%;
      }
    nav.active ul{
        display: flex;
        flex-direction: column;
        gap: 0;
        height: 90%;
    }
    nav.active ul a{
        width: 100px;
        border-bottom: 1px solid rgb(222, 222, 222);
        padding-bottom: 10px;
    }
    nav.active ul a:hover{
        background-color: transparent;
    }
    .paragraphe form input{
        width: 150px;
    }
    /* section 1 */
    .btn-left, .btn-right{
        width: 20px;
        height: 20px;
    }
    /* section 4 */
    .section4{
        justify-content: space-around;
    }

    .section4 .ligne{
        display: none;
    }
    /* footer */
    .footerPart1{
        height: 330px;
        
    padding: 20px;
    }
    .footerPart1 form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
} 